{% extends "layout.twig" %}

{% block title %} {{parent()}} - Ajouter Resultat Match{% endblock title %}

{% block container%}
    <div class="span12 well"> 
        <h4 class="text-center">Ajouter Resultat Match</h4>
        <hr>
         <form action='/match/resultat/{{match.id}}' method="POST" class="form-horizontal" >
            <fieldset>
                <div class="control-group">
                    <div class="error span5">{{ validation_errors() }}</div>
                </div>
                
               <div class="span5 offset1">
                   <p><strong>Equipe Receveur :</strong> {{equiperecev.nom_equipe}}</p>
                   <hr>
                   
                   <label>Nombre de But</label>
                   <input type="number" name="sendvalbutrecev" class="span2" id="nbbutrecev" value="0"/>
                   <input id="clickrecev" type="button" class="btn" value="Ajouter">
                   <div id="recevappend"></div>
               </div>
               
              <div class="span5">
                   <p><strong>Equipe Visiteur :</strong> {{equipevisit.nom_equipe}}</p>
                   <hr>
                   <label>Nombre de But</label>
                   <input type="number" name="sendvalbutvisit" class="span2" id="nbbutvisit" value="0"/>
                   <input id="clickvisit" type="button" class="btn" value="Ajouter">
                   <div id="visitappend"></div>
               </div>
                    <div class="span11"><hr></div>
                    <div class="span3 offset4" style="margin-top: 30px">
                      
                        <input class="btn btn-block btn-info" type="submit" value="Ajouter Résultat">
              </div>
            </fieldset>
        </form>   
    </div>

{% endblock container%}

{%block script%}
<script language="javascript">
$(document).ready(function(){
    $('#clickrecev').on('click', function()
    {
            var res = $('#nbbutrecev').val();
            if(res == 0)
            {
                $('#recevappend').html('');
            }
            else if(res < 0)
            {
                alert('le nombre de but doit être supèrieur à zero');
                $('#nbbutrecev').val(0);
                $('#recevappend').html('');
            }
            else if( res > 0)
            {
                    $('#recevappend').html('');
                    var valeur = '<label>Nom du joueur et heure de marquage</label>' ;
                    for(i=1; i<=res; i++)
                    {
                       
                            valeur += '<div class="blockreciv">' ;
                            valeur += '<select name="recevjoueur[]" class="span2">';
                             {% for joueur in jreqrecevs %}
                                  valeur += '<option value="{{joueur.id}}"> {{joueur.nom}} </option>';           
                             {% endfor %}
                             valeur += '</select> '; 
                             valeur += ' <input type="time" name="recevtime[]" class="span1">';                             
                            valeur +=  '</div>';
                            $('#recevappend').append(valeur);
                            valeur = '';
                    }
            }                  
    });

    $('#clickvisit').on('click', function()
    {
            var res = $('#nbbutvisit').val();
            if(res == 0)
            {
                $('#visitappend').html('');
            }
            else if(res < 0)
            {
                alert('le nombre de but doit être supèrieur à zero');
                $('#nbbutvisit').val(0);
                $('#visitappend').html('');
            }
            else if( res > 0)
            {
                    $('#visitappend').html('');
                    var valeur = '<label>Nom du joueur et heure de marquage</label>' ;
                    for(i=1; i<=res; i++)
                    {
                            valeur += '<div class="blockvisit">' ;                    
                            valeur += '<select name="visitjoueur[]" class="span2">';
                             {% for joueur in jreqvisits %}
                                 valeur += '<option value="{{joueur.id}}"> {{joueur.nom}} </option>';           
                             {% endfor %}
                             valeur += '</select> '; 
                             valeur += ' <input type="time" name="visittime[]" class="span1">';                             
                            valeur +=  '</div>';
                            $('#visitappend').append(valeur);
                            valeur = '';
                    }
            }                  
    });
    
});
</script>
{%endblock script%}