{% extends "layout.twig" %}

{% block title %} {{parent()}} - Modifier Resultat Match{% endblock title %}
{% block navbar%}
    <div class="navbar">
        <div class="navbar-inner">
           <ul class="nav">
             <li><a href="/saison">Gestion Saison</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/equipe">Gestion Equipe</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/joueur">Gestion Joueurs</a></li>
             <li class="divider-vertical"></li>
             <li class="active"><a href="/match">Gestion Match</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/arbitre">Gestion Arbitre</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/stade">Gestion Stade</a></li>
             <li class="divider-vertical"></li>
             <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Championnat <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/classement/champligueun">Football Pro ligue 1</a>
                        <li><a href="/classement/champliguedeux">Football Pro ligue 2</a>
                        <li><a href="/classement/champligueamateur">Football Amateur</a>
                        <li><a href="/classement/champliguefeminin">Football Féminin</a>
                        <li><a href="/classement/champliguefutsal">Futsal</a>
                    </ul>
             </li>
             <li class="divider-vertical"></li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coupe <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/classement/coupeligueun">Football Pro ligue 1</a>
                    <li><a href="/classement/coupeliguedeux">Football Pro ligue 2</a>
                    <li><a href="/classement/coupeligueamateur">Football Amateur</a>
                    <li><a href="/classement/coupeliguefeminin">Football Féminin</a>
                    <li><a href="/classement/coupeliguefutsal">Futsal</a>
                </ul>
             </li>
           </ul>
        </div>
    </div>
{% endblock navbar%}
{% block container%}
    <div class="well">
        <div class="row">
            <div class="span11">
                <h3 class="text-center">Modifier une Résultat d'un Match</h3>
                <hr>
                <form action='/match/modifresultat/{{match.id}}' method="POST" class="form-horizontal" >
                <fieldset>
                    <div class="control-group">
                        <div class="error span5">{{ validation_errors() }}</div>
                    </div>
                    <div class="span7 well offset2">
                        {# nb carte rouge #}     
                         <div class="span3">
                            <label>Nombre Carte Rouge</label>
                            <input type="number" name="carterouge" class="span2" id="nbcarterouge"  value="{{ set_value('carterouge', match.carterouge) }}"/>
                         </div>

                        {# nb carte jaune #}     
                         <div class="span3">
                            <label>Nombre Carte Jaune</label>
                            <input type="number" name="cartejaune" class="span2" id="nbcartejaune" value="{{ set_value('cartejaune', match.cartejaune) }}"/>
                        </div>
                    </div>
                    <div class="span5 well">
                       <p><img src="{{base_url()}}uploads/{{equiperecev.logo}}" alt="" class="img-polaroid img-size"></p>    
                       <p class="text-center"><strong>Equipe Receveur :</strong> {{equiperecev.nom_equipe}}</p>
                       <hr>
                       <div class="offset1">
                           <label>Nombre de But</label>
                           <input type="number" name="sendvalbutrecev" class="span2" id="nbbutrecev" value="0"/>
                           <input id="clickrecev" type="button" class="btn" value="Appliquer">
                           <div id="recevappend">
                               <label>Nom du joueur et heure de marquage</label>
                               {% set compteurrecev = 0 %}
                               {% for resultat in resultats %} 
                               <div class="blockreciv">   
                                    {%if resultat.equipe == equiperecev.id%}
                                        {% set compteurrecev = compteurrecev + 1 %}
                                    <select name="recevjoueur[]" class="span2">
                                     {% for joueur in jreqrecevs %}
                                            <option value="{{joueur.id}}" {%if resultat.joueur == joueur.id%} selected{%endif%}> {{joueur.nom}} </option>        
                                     {% endfor %}
                                     </select> 
                                    <input type="time" name="recevtime[]" class="span1" value="{{resultat.date_but}}"> 
                                        <script> $('#nbbutrecev').val({{compteurrecev}});</script>
                                      {%endif%}                          
                               </div>
                              {% endfor %}
                           </div>
                       </div>
                   </div>

                    <div class="span5 well">
                       <p><img src="{{base_url()}}uploads/{{equipevisit.logo}}" alt="" class="img-polaroid img-size"></p>    
                       <p class="text-center"><strong>Equipe Visiteur :</strong> {{equipevisit.nom_equipe}}</p>
                       <hr>
                       <div class="offset1">
                            <label>Nombre de But</label>
                            <input type="number" name="sendvalbutvisit" class="span2" id="nbbutvisit" value="0"/>
                            <input id="clickvisit" type="button" class="btn" value="Appliquer">
                            <div id="visitappend">
                                <label>Nom du joueur et heure de marquage</label>
                                {% set compteurrecev = 0 %}
                             {% for resultat in resultats %} 
                                <div class="blockvisit">                           

                                     {%if resultat.equipe == equipevisit.id%}
                                          {% set compteurrecev = compteurrecev + 1 %}
                                     <select name="visitjoueur[]" class="span2">
                                      {% for joueur in jreqvisits %}
                                             <option value="{{joueur.id}}" {%if resultat.joueur == joueur.id%} selected{%endif%}> {{joueur.nom}} </option>        
                                      {% endfor %}
                                      </select> 
                                     <input type="time" name="visittime[]" class="span1" value="{{resultat.date_but}}"> 
                                         <script> $('#nbbutvisit').val({{compteurrecev}});</script>
                                       {%endif%}                          
                                </div>
                             {% endfor %}
                            </div>
                       </div>
                   </div>
                    
                    <div class="span11"><hr></div>
                    
                    <div class="span3 offset4" style="margin-top: 30px">
                        <input class="btn btn-block btn-danger" type="submit" value="Ajouter Résultat">
                  </div>
                </fieldset>
               </form> 
            </div>
        </div>
    </div>

{% endblock container%}

{%block script%}
<script language="javascript">
$(document).ready(function(){
    
    $('#nbcarterouge').on('change', function(){
        if($('#nbcarterouge').val() < 0)
        {
                alert('le nombre de carte rouge doit être supèrieur ou égale à zero');
                $('#nbcarterouge').val(0);
        }
    });
    
    $('#nbcartejaune').on('change', function(){
        if($('#nbcartejaune').val() < 0)
        {
                alert('le nombre de carte jaune doit être supèrieur ou égale à zero');
                $('#nbcartejaune').val(0);
        }
    });
    
    $('#clickrecev').on('click', function()
    {
            var res = $('#nbbutrecev').val();
            if(res == 0)
            {
                //$('.blockreciv').remove();   visitappend
                $('#recevappend').html('');
            }
            else if(res < 0)
            {
                alert('le nombre de but doit être supèrieur à zero');
                $('#nbbutrecev').val(0);
                $('#recevappend').html('');
            }
            else if( res > 0)
            {
                    //$('.blockreciv').remove();  
                    $('#recevappend').html('');
                    var valeur = '<label>Nom du joueur et heure de marquage</label>' ;
                    for(i=1; i<=res; i++)
                    {                       
                            valeur += '<div class="blockreciv">' ;                            
                            valeur += '<select name="recevjoueur[]" class="span2">';
                             {% for joueur in jreqrecevs %}
                                  valeur += '<option value="{{joueur.id}}"> {{joueur.nom}} </option>';           
                             {% endfor %}
                             valeur += '</select> '; 
                             valeur += ' <input type="time" name="recevtime[]" class="span1">';                             
                            valeur +=  '</div>';
                            $('#recevappend').append(valeur);
                            valeur = '';
                    }
            }                  
    });

    $('#clickvisit').on('click', function()
    {
            var res = $('#nbbutvisit').val();
            if(res == 0)
            {
               // $('.nbbutvisit').remove();  
               $('#visitappend').html('');
            }
            else if(res < 0)
            {
                alert('le nombre de but doit être supèrieur à zero');
                $('#nbbutvisit').val(0);
                $('#visitappend').html('');
            }
            else if( res > 0)
            {
                   // $('.blockvisit').remove();  
                   $('#visitappend').html('');
                    var valeur = '<label>Nom du joueur et heure de marquage</label>' ;
                    for(i=1; i<=res; i++)
                    {
                            valeur += '<div class="blockvisit">' ;
                            valeur += '<select name="visitjoueur[]" class="span2">';
                             {% for joueur in jreqvisits %}
                                 valeur += '<option value="{{joueur.id}}"> {{joueur.nom}} </option>';           
                             {% endfor %}
                             valeur += '</select> '; 
                             valeur += ' <input type="time" name="visittime[]" class="span1">';                             
                            valeur +=  '</div>';
                            $('#visitappend').append(valeur);
                            valeur = '';
                    }
            }                  
    });
    
});
</script>
{%endblock script%}
