{% extends "layout.twig" %}

{% block title %} {{parent()}} - Home{% endblock title %}

{% block container%}
<div class="span8 offset2"> 
    <div class="slider-shadow">
        <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner" style="height: 350px">
            <div class="active item"><img src="{{base_url()}}assets/img/slider/slider1.jpg" alt="" style="height: 350px; width: 100%"/></div>
            <div class="item"><img src="{{base_url()}}assets/img/slider/slider2.jpg" alt="" style="height: 350px; width: 100%"/></div>
            <div class="item"><img src="{{base_url()}}assets/img/slider/slider3.jpg" alt="" style="height: 350px; width: 100%"/></div>
            <div class="item"><img src="{{base_url()}}assets/img/slider/slider4.jpg" alt="" style="height: 350px; width: 100%"/></div>
            <div class="item"><img src="{{base_url()}}assets/img/slider/slider5.jpg" alt="" style="height: 350px; width: 100%"/></div>
            <div class="item"><img src="{{base_url()}}assets/img/slider/slider6.jpg" alt="" style="height: 350px; width: 100%"/></div>
            <div class="item"><img src="{{base_url()}}assets/img/slider/slider7.jpg" alt="" style="height: 350px; width: 100%"/></div>
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    </div>
</div>
{% endblock container%}