<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title%}FOOTBALL {%endblock title%}</title>
        <!--stylesheet-->
       	<link href="{{base_url()}}assets/css/style.css" rel="stylesheet" type="text/css"  />
       	<link href="{{base_url()}}assets/css/bootstrap.css" rel="stylesheet" type="text/css"  />
        <link href="{{base_url()}}assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block nav%}
            <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/backend"><i class="icon-home"></i> Home</a></li>
                            <li><a href="/saison">Gestion Saison</a></li>
                            <li><a href="/equipe">Gestion Equipe</a></li>
                            <li><a href="/joueur">Gestion Joueurs</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion Classement <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/classement/championnat">Voir Classement championnat</a></li>
                                    <li><a href="/classement/coupe">Voir Classement Coupe</a></li>
                                </ul>
                            </li>
                        
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{ getsessionhelper()['login'] }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/backend/changepass"><i class="icon-lock"></i> Changer mot de passe</a></li>
                                    <li><a href="/backend/logout"><i class="icon-off"></i> Se déconnecter</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {%endblock nav%}
        
        <header class="page-header">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="span5 offset4">
                        <a href=""><img src="{{base_url()}}assets/img/logo.png" alt=""/></a>
                    </div>
                </div>
            </div>
        </header>
        <section class="container">
            <div class="row">
                {% block container%}{% endblock container%}
            </div>
        </section>
        {#---SCRIPT---#} 
       <script src="{{base_url()}}assets/js/jquery-1.9.1.min.js"></script>
       <script src="{{base_url()}}assets/js/bootstrap.js"></script>
       <script src="{{base_url()}}assets/js/foot.js"></script>
    </body>
</html>
