<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title%}FOOTBALL {%endblock title%}</title>
        <!--stylesheet-->
        {% block link_css %}
       	<link href="{{base_url()}}assets/css/style.css" rel="stylesheet" type="text/css"  />
       	<link href="{{base_url()}}assets/css/bootstrap.css" rel="stylesheet" type="text/css"  />
        <link href="{{base_url()}}assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
        {% endblock link_css %}
        <script src="{{base_url()}}assets/js/jquery-1.9.1.min.js"></script>
    </head>
    <body>
        {% block nav%}
            <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/"><i class="icon-home icon-white"></i> Acceuil</a></li>
                            <li><a href="/backend/statestique"><i class="icon-signal icon-white"></i> Statistiques</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li><a href=""><strong>Saison {{ getsessionhelper()['saison'] }} </strong></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> {{ getsessionhelper()['login'] }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/backend/changepass"><i class="icon-lock"></i> Changer mot de passe</a></li>
                                    <li><a href="/backend/logout"><i class="icon-off"></i> Se déconnecter</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {%endblock nav%}
        
        <div class="container contain">
            {% block logo%}
            <div class="span4 offset4">
                <a href=""><img src="{{base_url()}}assets/img/logo.png" alt=""/></a>
            </div>
           {% endblock logo%}
        </div>
       
        <section class="container">
          {% block navbar%}{% endblock navbar%}
          {% block container%}{% endblock container%}
        </section>
        
        {#---SCRIPT---#}
       
       <script src="{{base_url()}}assets/js/bootstrap.js"></script>
       <script src="{{base_url()}}assets/js/foot.js"></script>
       {% block script %}{% endblock script %}
    </body>
</html>
