{% extends "layout.twig" %}

{% block title %} {{parent()}} - Modifier Joueur{% endblock title %}

{% block container%}
    <div class="span11 well"> 
        <h4 class="text-center">Modifier un Joueur </h4>
        <hr>
         <form action='/arbitre/modifier/{{arbitre.id}}' method="POST" class="form-horizontal offset3">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="nom">Nom <span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" name="nom" class="span3" required="required" value="{{ set_value('nom', arbitre.nom) }}"/>
                        <div class="erreur">
                            {{ form_error('nom') }}         
                        </div>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea name="description" class="span3">{{ set_value('description', arbitre.description) }}</textarea>
                    </div>
                </div>
                
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-info">Modifier</button>
                    </div>
                </div>
            </fieldset>
        </form>   
    </div>
{% endblock container%}