{% extends "layout.twig" %}

{% block title %} {{parent()}} - Ajouter Joueur{% endblock title %}
{% block navbar%}
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="/saison">Gestion Saison</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/equipe">Gestion Equipe</a></li>
                <li class="divider-vertical"></li>
                <li class="active"><a href="/joueur">Gestion Joueurs</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/match">Gestion Match</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/arbitre">Gestion Arbitre</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/stade">Gestion Stade</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Championnat <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/classement/champligueun">Football Pro ligue 1</a>
                        <li><a href="/classement/champliguedeux">Football Pro ligue 2</a>
                        <li><a href="/classement/champligueamateur">Football Amateur</a>
                        <li><a href="/classement/champliguefeminin">Football Féminin</a>
                        <li><a href="/classement/champliguefutsal">Futsal</a>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coupe <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/classement/coupeligueun">Football Pro ligue 1</a>
                    <li><a href="/classement/coupeliguedeux">Football Pro ligue 2</a>
                    <li><a href="/classement/coupeligueamateur">Football Amateur</a>
                    <li><a href="/classement/coupeliguefeminin">Football Féminin</a>
                    <li><a href="/classement/coupeliguefutsal">Futsal</a>
                </ul>
                </li>
           </ul>
        </div>
    </div>
{% endblock navbar%}
{% block container%}
    <div class="well">
        <div class="row">
            <div class="span11">
                <h3 class="text-center">Ajouter un Joueur</h3>
                <hr>
                <div class="span10 offset1">
                    <form action='/joueur/ajout' method="POST" enctype="multipart/form-data">
                        <fieldset>
                            <div class="span3">
                                {#block nom#}
                                <label for="nom">Nom <span class="required">*</span></label>
                                <input type="text" name="nom" required="required" placeholder="Nom Complet" class="span3" value="{{ set_value('nom') }}"/>
                                <div class="erreur">
                                    {{ form_error('nom') }}         
                                </div>
                                 {#block date#}   
                                <label for="date_naissance">Date de Naissance</label>
                                <input type="date" name="date_naissance" class="span3" value="{{ set_value('date_naissance') }}"/>
                                {#block poste#}
                                <label for="post">Poste</label>
                                <select name="post" class="span3">
                                    <option value="gardien">gardien</option>
                                    <option value="arrière latéral">arrière latéral</option>
                                    <option value="libéro">libéro</option>
                                    <option value="milieu défensif">milieu défensif</option>
                                    <option value="milieu offensif">milieu offensif</option>
                                    <option value="deuxème attaquant">deuxème attaquant</option>
                                    <option value="attaquant">attaquant</option>
                                    <option value="avant-centre">avant-centre</option>
                                    <option value="remplaçant">remplaçant</option>                               
                                </select>
                            </div>
                                
                            <div class="span3">
                                {#block ville#}
                                <label class="control-label" for="ville">Ville</label>
                                <select name="ville" class="span3">
                                    <option value="Ariana">Ariana</option>
                                    <option value="Béja">Béja</option>
                                    <option value="Ben arous">Ben Arous</option>
                                    <option value="Bizerte">Bizerte</option>
                                    <option value="Gafsa">Gafsa</option>
                                    <option value="Jendouba">Jendouba</option>
                                    <option value="Kairouan">Kairouan</option>
                                    <option value="Kasserine">Kasserine</option>
                                    <option value="Kébili">Kébili</option>
                                    <option value="Le Kef">Le Kef</option>
                                    <option value="Mahdia">Mahdia</option>
                                    <option value="La Manouba">La Manouba</option>
                                    <option value="Médenine">Médenine</option>
                                    <option value="Monastir">Monastir</option>
                                    <option value="Nabeul">Nabeul</option>
                                    <option value="Sfax">Sfax</option>
                                    <option value="Sidi Bouzid">Sidi Bouzid</option>
                                    <option value="Siliana">Siliana</option>
                                    <option value="Sousse">Sousse</option>
                                    <option value="Tataouine">Tataouine</option>
                                    <option value="Tozeur">Tozeur</option>
                                    <option value="Tunis">Tunis</option>
                                    <option value="Zaghouan">Zaghouan</option>
                                 </select>
                                
                                {#block taille#}
                                <label for="taille">Taille</label>
                                <input type="text" name="taille" class="span3" value="{{ set_value('taille') }}"/>
                                
                                {#block poids#}
                                <label for="poids">Poids</label>
                                <input type="text" name="poids" class="span3" value="{{ set_value('poids') }}"/>
                            </div>
                                
                            <div class="span3">
                                {#block Date D'affectation#}
                                <label for="date_affectation">Date D'affectation</label>
                                <input type="date" name="date_affectation" class="span3" value="{{ set_value('date_affectation') }}"/>
                                
                                {#block Equipe#}
                                <label for="equipe">Equipe <span class="required">*</span></label>
                                <select name="equipe" class="span3" required="required">
                                        {% for equipe in equipes %}
                                            <option value="{{equipe.id}}">{{equipe.nom_equipe}}</option>
                                        {% endfor %}
                                    </select>
                                <div class="erreur">
                                        {{ form_error('equipe') }}         
                                    </div>
                                
                                {#block Photo#}
                                <label for="userfile">Photo</label>
                                <input type="file" name="userfile" class="span3" required="required"/>
                                <div class="erreur">
                                    {{error}}
                                </div>
                            </div>
                             
                            <div class="span10">
                                <hr>
                                <button type="submit" class="btn btn-danger btn-block offset3 span2">Ajouter</button>
                            </div>

                         </fieldset>
                     </form>
                </div>
            </div>
        </div>
    </div>
{% endblock container%}
