{% extends "layout.twig" %}

{% block title %} {{parent()}} - Ajouter un Joueur{% endblock title %}

{% block container%}
    <div class="span12 well"> 
        <h4 class="text-center">Ajouter un Joueur </h4>
        <hr>
         <form action='/joueur/ajout' method="POST" class="form-horizontal offset3" enctype="multipart/form-data">
            <fieldset>
                {#<div class="control-group">
                    <div class="error span5">{{ validation_errors() }}</div>
                </div>#}
                  
                <div class="control-group">
                    <label class="control-label" for="nom">Nom <span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" name="nom" class="span3" required="required"/>
                        <div class="erreur">
                            {{ form_error('nom') }}         
                        </div>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="date_naissance">Date de Naissance</label>
                    <div class="controls">
                        <input type="date" name="date_naissance" class="span3"/>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="post">Poste</label>
                    <div class="controls">
                        <select name="post" class="span3">
                                <option value="gardien">gardien</option>
                                <option value="arrière latéral">arrière latéral</option>
                                <option value="libéro">libéro</option>
                                <option value="milieu défensif">milieu défensif</option>
                                <option value="milieu offensif">milieu offensif</option>
                                <option value="deuxème attaquant">deuxème attaquant</option>
                                <option value="avant-centre">avant-centre</option>
                                <option value="remplaçant">remplaçant</option>                               
                        </select>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="ville">Ville</label>
                    <div class="controls">
                         <select name="ville" class="span3">
                            <option value="Ariana">Ariana</option>
                            <option value="Béja">Béja</option>
                            <option value="Ben arous">Ben Arous</option>
                            <option value="Bizerte">Bizerte</option>
                            <option value="Gafsa">Gafsa</option>
                            <option value="Jendouba">Jendouba</option>
                            <option value="Kairouan">Kairouan</option>
                            <option value="Kasserine">Kasserine</option>
                            <option value="Kébili">Kébili</option>
                            <option value="Le Kef">Le Kef</option>
                            <option value="Mahdia">Mahdia</option>
                            <option value="La Manouba">La Manouba</option>
                            <option value="Médenine">Médenine</option>
                            <option value="Monastir">Monastir</option>
                            <option value="Nabeul">Nabeul</option>
                            <option value="Sfax">Sfax</option>
                            <option value="Sidi Bouzid">Sidi Bouzid</option>
                            <option value="Siliana">Siliana</option>
                            <option value="Sousse">Sousse</option>
                            <option value="Tataouine">Tataouine</option>
                            <option value="Tozeur">Tozeur</option>
                            <option value="Tunis">Tunis</option>
                            <option value="Zaghouan">Zaghouan</option>
                        </select>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="taille">Taille</label>
                    <div class="controls">
                        <input type="text" name="taille" class="span3"/>
                    </div>
                </div>
                    
                <div class="control-group">
                    <label class="control-label" for="poids">Poid</label>
                    <div class="controls">
                        <input type="text" name="poids" class="span3"/>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="date_affectation">Date D'affectation</label>
                    <div class="controls">
                        <input type="date" name="date_affectation" class="span3"/>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="equipe">Equipe <span class="required">*</span></label>
                    <div class="controls">
                        <select name="equipe" class="span3" required="required">
                            {% for equipe in equipes %}
                                <option value="{{equipe.id}}">{{equipe.nom_equipe}}</option>
                            {% endfor %}
                        </select>
                        <div class="erreur">
                            {{ form_error('equipe') }}         
                        </div>
                    </div>
                </div>
                    
                <div class="control-group">
                    <label class="control-label" for="userfile">Photo</label>
                    <div class="controls">
                        <input type="file" name="userfile" class="span3" required="required"/>
                        <div class="erreur">
                          {{error}}
                        </div>
                    </div>
                </div>
                    
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-info">Ajouter</button>
                    </div>
                </div>
                    
            </fieldset>
        </form>   
    </div>
{% endblock container%}