{% extends "layout.twig" %}

{% block title %} {{parent()}} - Gestion des Joueurs{% endblock title %}

{% block container%}
    <div class="span12 well"> 
        <h4>Gestion des Joueurs </h4>
        <hr>
       <div class="btn-toolbar">
            <a href="/joueur/ajout" class="btn pull-right"><i class="icon-plus-sign"></i> <strong>Ajouter un Joueur</strong></a>
       </div>
        
        <table class="table table-bordered table-hover">
                <tr>
                  <th>Nom</th>
                  <th>Date de naissance</th>
                  <th>Poste</th>
                  <th>Ville</th>
                  <th>date d'affectation</th>
                  <th>Equipe</th>
                  <th>Action</th>
                </tr>
                 {% for joueur in joueurs %}
                <tr>
                  <td>{{joueur.nom}}</td>
                  <td>{{joueur.date_naissance}}</td>
                  <td>{{joueur.post}}</td>
                  <td>{{joueur.ville}}</td>
                  <td>{{joueur.date_affectation	}}</td>
                  <td>{{joueur.equipe}}</td>
                  <td>
                      <a href="/joueur/voir/{{joueur.id}}" title="voir" class="btn"><i class="icon-eye-open"></i></a>
                      <a href="/joueur/modifier/{{joueur.id}}" title="Modifier" class="btn"><i class="icon-edit"></i></a> 
                      <a href="/joueur/supprimer/{{joueur.id}}" title="Supprimer" class="btn"><i class="icon-trash"></i></a>
                  </td>
                </tr>
         
              {% endfor %}
            </table>
{% endblock container%}

