{% extends "layout.twig" %}

{% block title %} {{parent()}} - Gestion des Joueurs{% endblock title %}

{% block container%}
    <div class="span12 well"> 
        <h4>Gestion des Joueurs </h4>
        <hr>
       <div class="btn-toolbar">
            <a href="/joueur/ajout" class="btn pull-right"><i class="icon-plus-sign"></i> <strong>Ajouter un Joueur</strong></a>
       </div>
        
        <table class="table table-bordered table-hover">
                <tr>
                  <th>Photo</th>
                  <th>Nom</th>
                  <th>Poste</th>
                  <th>Equipe</th>
                  <th>Action</th>
                </tr>
                 {% for joueur in joueurs %}
                <tr>
                  <td> <img src="{{base_url()}}uploads/{{joueur.photo}}" alt="" class="img-polaroid span1" style="height: 60px;"></td>
                  <td>{{joueur.nom}}</td>
                  <td>{{joueur.post}}</td>
                  <td>{{joueur.nom_equipe}}</td>
                  <td>
                      <a href="/joueur/voir/{{joueur.id}}" title="voir" class="btn"><i class="icon-eye-open"></i></a>
                      <a href="/joueur/modifier/{{joueur.id}}" title="Modifier" class="btn"><i class="icon-edit"></i></a> 
                      <a href="/joueur/supprimer/{{joueur.id}}" title="Supprimer" class="btn deleteadmin"><i class="icon-trash"></i></a>
                  </td>
                </tr>
         
              {% endfor %}
            </table>
{% endblock container%}

