{% extends "layout.twig" %}

{% block title %} {{parent()}} - Gestion des Joueurs{% endblock title %}

{% block container%}
    <div class="span12 well"> 
        <h4>Gestion des Joueurs </h4>
        <hr>

        <p><strong>Nom : </strong>{{joueur.nom}}</p>
        <p><strong>Date de naissance : </strong>{{joueur.date_naissance}}</p>
        <p><strong>Poste : </strong>{{joueur.post}}</p>
        <p><strong>Ville : </strong>{{joueur.ville}}</p>
        <p><strong>date d'affectation : </strong>{{joueur.date_affectation}}</p>
        <p><strong>Equipe : {{joueur.equipe}}</strong></p>
    </div>
{% endblock container%}

