{% extends "layout.twig" %}

{% block title %} {{parent()}} - Ajouter Equipe {% endblock title %}

{% block container%}
    <div class="span12 well"> 
        <h4 class="text-center">Ajouter une Equipe </h4>
        <hr>
         <form action='/equipe/ajout' method="POST" class="form-horizontal offset3" enctype="multipart/form-data">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="nom_equipe">Nom <span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" name="nom_equipe" class="span3" required="required"/>
                        <div class="erreur">
                            {{ form_error('nom_equipe') }}         
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="entreneur">Entreneur <span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" name="entreneur" class="span3" required="required"/>
                        <div class="erreur">
                            {{ form_error('entreneur') }}         
                        </div>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="date_creation">Date de Création</label>
                    <div class="controls">
                        <input type="date" name="date_creation" class="span3"/>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="lieu_origin">Lieu d'origine</label>
                    <div class="controls">
                        <select name="lieu_origin" class="span3">
                            <option value="Ariana">Ariana</option>
                            <option value="Béja">Béja</option>
                            <option value="Ben arous">Ben Arous</option>
                            <option value="Bizerte">Bizerte</option>
                            <option value="Gafsa">Gafsa</option>
                            <option value="Jendouba">Jendouba</option>
                            <option value="Kairouan">Kairouan</option>
                            <option value="Kasserine">Kasserine</option>
                            <option value="Kébili">Kébili</option>
                            <option value="Le Kef">Le Kef</option>
                            <option value="Mahdia">Mahdia</option>
                            <option value="La Manouba">La Manouba</option>
                            <option value="Médenine">Médenine</option>
                            <option value="Monastir">Monastir</option>
                            <option value="Nabeul">Nabeul</option>
                            <option value="Sfax">Sfax</option>
                            <option value="Sidi Bouzid">Sidi Bouzid</option>
                            <option value="Siliana">Siliana</option>
                            <option value="Sousse">Sousse</option>
                            <option value="Tataouine">Tataouine</option>
                            <option value="Tozeur">Tozeur</option>
                            <option value="Tunis">Tunis</option>
                            <option value="Zaghouan">Zaghouan</option>
                        </select>
                    </div>
                </div>
                
               <div class="control-group">
                    <label class="control-label" for="siteweb">Site Web</label>
                    <div class="controls">
                        <input type="text" name="siteweb" class="span3"/>
                    </div>
                </div>
                    
               <div class="control-group">
                    <label class="control-label" for="stade">Stade</label>
                    <div class="controls">
                        <input type="text" name="stade" class="span3"/>
                    </div>
                </div>
                    
                 <div class="control-group">
                    <label class="control-label" for="Ligue">Ligue Nationale <span class="required">*</span></label>
                    <div class="controls">
                        <select name="ligue" class="span3">
                            <option value="Football Pro ligue 1">Football Pro ligue 1</option>
                            <option value="Football Pro ligue 2">Football Pro ligue 2</option>
                            <option value="Football Amateur">Football Amateur</option>
                            <option value="Football Feminin">Football Féminin</option>
                            <option value="Futsal">Futsal</option>
                        </select>
                        <div class="erreur">
                            {{ form_error('ligue') }}         
                        </div>
                    </div>
                </div>
                    
               <div class="control-group">
                    <label class="control-label" for="userfile">Logo</label>
                    <div class="controls">
                        <input type="file" name="userfile" class="span3" required="required"/>
                        
                    </div>
                    <div class="erreur">
                          {{error}}
                        </div>
                </div>
                
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-info">Ajouter</button>
                    </div>
                </div>
            </fieldset>
        </form>   
    </div>
{% endblock container%}