{% extends "layout.twig" %}

{% block title %} {{parent()}} - Modifier equipe{% endblock title %}
{% block navbar%}
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                 <li><a href="/saison">Gestion Saison</a></li>
                 <li class="divider-vertical"></li>
                 <li class="active"><a href="/equipe">Gestion Equipe</a></li>
                 <li class="divider-vertical"></li>
                 <li><a href="/joueur">Gestion Joueurs</a></li>
                 <li class="divider-vertical"></li>
                 <li><a href="/match">Gestion Match</a></li>
                 <li class="divider-vertical"></li>
                 <li><a href="/arbitre">Gestion Arbitre</a></li>
                 <li class="divider-vertical"></li>
                 <li><a href="/stade">Gestion Stade</a></li>
                 <li class="divider-vertical"></li>
                 <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Championnat <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/classement/champligueun">Football Pro ligue 1</a>
                            <li><a href="/classement/champliguedeux">Football Pro ligue 2</a>
                            <li><a href="/classement/champligueamateur">Football Amateur</a>
                            <li><a href="/classement/champliguefeminin">Football Féminin</a>
                            <li><a href="/classement/champliguefutsal">Futsal</a>
                        </ul>
                 </li>
                 <li class="divider-vertical"></li>
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coupe <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/classement/coupeligueun">Football Pro ligue 1</a>
                        <li><a href="/classement/coupeliguedeux">Football Pro ligue 2</a>
                        <li><a href="/classement/coupeligueamateur">Football Amateur</a>
                        <li><a href="/classement/coupeliguefeminin">Football Féminin</a>
                        <li><a href="/classement/coupeliguefutsal">Futsal</a>
                    </ul>
                 </li>
             </ul>
        </div>
    </div>
{% endblock navbar%}
{% block container%}
    <div class="well">
        <div class="row">
            <div class="span11">
                <h3 class="text-center">Modifier une Equipe</h3>
                <hr>
                <div class="span10 modif-line">
                    <p class="offset4 span3"><img src="{{base_url()}}uploads/{{equipe.logo}}" class="img-polaroid img-modif" alt=""></p>
                    <hr>
                </div>
                
                <div class="span10 offset1">
                    <form action='/equipe/modifier/{{equipe.id}}' method="POST" enctype="multipart/form-data">
                        <div class="span3">
                            {#Block nom#}       
                            <label for="nom_equipe">Nom <span class="required">*</span></label>
                            <input type="text" name="nom_equipe" class="span3" required="required" value="{{ set_value('nom_equipe', equipe.nom_equipe) }}"/>
                            <div class="erreur">
                                {{ form_error('nom_equipe') }}         
                            </div>

                            {#Block Entreneur#} 
                            <label for="entreneur">Entreneur <span class="required">*</span></label>
                            <input type="text" name="entreneur" class="span3" required="required" value="{{ set_value('entreneur', equipe.entreneur) }}"/>
                            <div class="erreur">
                                {{ form_error('entreneur') }}         
                            </div>

                            {#Block Date de création#} 
                            <label for="date_creation">Date de Création</label>
                            <input type="date" name="date_creation" class="span3" value="{{ set_value('date_creation', equipe.date_creation) }}"/>
                        
                            
                      </div>
                        <div class="span3">
                        {#Block Lieu d'origine#} 
                        <label for="lieu_origin">Lieu d'origine</label>
                        <select name="lieu_origin" class="span3" selected="{{ set_value('lieu_origin', equipe.lieu_origin) }}">          
                            <option value="Ariana" {%if equipe.lieu_origin=='Ariana'%} selected="selected" {%endif%}>Ariana</option>
                            <option value="Béja" {%if equipe.lieu_origin=='Béja'%} selected="selected" {%endif%}>Béja</option>
                            <option value="Ben arous" {%if equipe.lieu_origin=='Ben arous'%} selected="selected" {%endif%}>Ben Arous</option>
                            <option value="Bizerte" {%if equipe.lieu_origin=='Bizerte'%} selected="selected" {%endif%}>Bizerte</option>
                            <option value="Gafsa" {%if equipe.lieu_origin=='Gafsa'%} selected="selected" {%endif%}>Gafsa</option>
                            <option value="Jendouba" {%if equipe.lieu_origin=='Jendouba'%} selected="selected" {%endif%}>Jendouba</option>
                            <option value="Kairouan" {%if equipe.lieu_origin=='Kairouan'%} selected="selected" {%endif%}>Kairouan</option>
                            <option value="Kasserine" {%if equipe.lieu_origin=='Kasserine'%} selected="selected" {%endif%}>Kasserine</option>
                            <option value="Kébili" {%if equipe.lieu_origin=='Kébili'%} selected="selected" {%endif%}>Kébili</option>
                            <option value="Le Kef" {%if equipe.lieu_origin=='le Kef'%} selected="selected" {%endif%}>Le Kef</option>
                            <option value="Mahdia" {%if equipe.lieu_origin=='Mahdia'%} selected="selected" {%endif%}>Mahdia</option>
                            <option value="La Manouba" {%if equipe.lieu_origin=='la Manouba'%} selected="selected" {%endif%}>La Manouba</option>
                            <option value="Médenine" {%if equipe.lieu_origin=='Médenine'%} selected="selected" {%endif%}>Médenine</option>
                            <option value="Monastir" {%if equipe.lieu_origin=='Monastir'%} selected="selected" {%endif%}>Monastir</option>
                            <option value="Nabeul" {%if equipe.lieu_origin=='Ain Draham'%} selected="selected" {%endif%}>Nabeul</option>
                            <option value="Sfax" {%if equipe.lieu_origin=='Sfax'%} selected="selected" {%endif%}>Sfax</option>
                            <option value="Sidi Bouzid" {%if equipe.lieu_origin=='Sidi Bouzid'%} selected="selected" {%endif%}>Sidi Bouzid</option>
                            <option value="Siliana" {%if equipe.lieu_origin=='Siliana'%} selected="selected" {%endif%}>Siliana</option>
                            <option value="Sousse" {%if equipe.lieu_origin=='Sousse'%} selected="selected" {%endif%}>Sousse</option>
                            <option value="Tataouine" {%if equipe.lieu_origin=='Tataouine'%} selected="selected" {%endif%}>Tataouine</option>
                            <option value="Tozeur" {%if equipe.lieu_origin=='Tozeur'%} selected="selected" {%endif%}>Tozeur</option>
                            <option value="Tunis" {%if equipe.lieu_origin=='Tunis'%} selected="selected" {%endif%}>Tunis</option>
                            <option value="Zaghouan" {%if equipe.lieu_origin=='Zaghouan'%} selected="selected" {%endif%}>Zaghouan</option>
                        </select>
                            
                        {#Block Site web#} 
                        <label for="siteweb">Site Web</label>
                        <input type="text" name="siteweb" class="span3" value="{{ set_value('siteweb', equipe.siteweb) }}"/>

                        {#Block Stade#}
                            <label for="stade">Stade</label>
                            <select name="stade" class="span3">
                            {% for stade in stades %}
<option {% if equipe.stade == stade.id %} selected="selected" {% endif %} value="{{stade.id}}">{{ stade.nom }}</option>
                            {% endfor %}
                            </select>
                            
                          </div>
                        <div class="span3">
                        {#Block ligue#}
                        <label for="Ligue">Ligue Nationale <span class="required">*</span></label>
                        <select name="ligue" class="span3" selected="{{ set_value('ligue', equipe.ligue) }}" required="required">
                            <option value="Football Pro ligue 1" {%if equipe.ligue=='Football Pro ligue 1'%} selected="selected" {%endif%}>Football Pro ligue 1</option>
                            <option value="Football Pro ligue 2" {%if equipe.ligue=='Football Pro ligue 2'%} selected="selected" {%endif%}>Football Pro ligue 2</option>
                            <option value="Football Amateur" {%if equipe.ligue=='Football Amateur'%} selected="selected" {%endif%}>Football Amateur</option>
                            <option value="Football Féminin" {%if equipe.ligue=='Football Féminin'%} selected="selected" {%endif%}>Football Féminin</option>
                            <option value="Futsal" {%if equipe.ligue=='Futsal'%} selected="selected" {%endif%}>Futsal</option>
                        </select>
                        <div class="erreur">
                            {{ form_error('ligue') }}         
                        </div>
                    
                        {#Block logo#}
                        <label for="userfile">Logo</label>
                        <input type="file" name="userfile" class="span3"/>
                        <div class="erreur">
                            {{error}}
                         </div>
                        </div>
                        <div class="span10">
                            <hr>
                            <button type="submit" class="btn btn-danger btn-block offset3 span2">Modifier</button>
                        </div>
                    </form>   
                </div>
            </div>
        </div>
    </div>
{% endblock container%}
