{% extends "layout.twig" %}

{% block title %} {{parent()}} - Modifier equipe{% endblock title %}

{% block container%}
    <div class="span11 well"> 
        <h4 class="text-center">Modifier une Equipe </h4>
        <hr>
         <form action='/equipe/modifier/{{equipe.id}}' method="POST" class="form-horizontal offset3" enctype="multipart/form-data">
            <fieldset>
                 <div class="control-group">
                   <label class="control-label" for="photo" >Logo</label>
                   <div class="controls">
                       <img src="{{base_url()}}uploads/{{equipe.logo}}" class="img-polaroid span3" alt ="photo" style="margin-left: 0px; height: 220px;">                              
                   </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="nom_equipe">Nom <span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" name="nom_equipe" class="span3" required="required" value="{{ set_value('nom_equipe', equipe.nom_equipe) }}"/>
                        <div class="erreur">
                            {{ form_error('nom_equipe') }}         
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="entreneur">Entreneur <span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" name="entreneur" class="span3" required="required" value="{{ set_value('entreneur', equipe.entreneur) }}"/>
                        <div class="erreur">
                            {{ form_error('entreneur') }}         
                        </div>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="date_creation">Date de Création</label>
                    <div class="controls">
                        <input type="date" name="date_creation" class="span3" value="{{ set_value('date_creation', equipe.date_creation) }}"/>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="lieu_origin">Lieu d'origine</label>
                    <div class="controls">
                        <select name="lieu_origin" class="span3" selected="{{ set_value('lieu_origin', equipe.lieu_origin) }}">          
                            <option value="Ariana" {%if equipe.lieu_origin=='Ariana'%} selected="selected" {%endif%}>Ariana</option>
                            <option value="Béja" {%if equipe.lieu_origin=='Béja'%} selected="selected" {%endif%}>Béja</option>
                            <option value="Ben arous" {%if equipe.lieu_origin=='Ben arous'%} selected="selected" {%endif%}>Ben Arous</option>
                            <option value="Bizerte" {%if equipe.lieu_origin=='Bizerte'%} selected="selected" {%endif%}>Bizerte</option>
                            <option value="Gafsa" {%if equipe.lieu_origin=='Gafsa'%} selected="selected" {%endif%}>Gafsa</option>
                            <option value="Jendouba" {%if equipe.lieu_origin=='Jendouba'%} selected="selected" {%endif%}>Jendouba</option>
                            <option value="Kairouan" {%if equipe.lieu_origin=='Kairouan'%} selected="selected" {%endif%}>Kairouan</option>
                            <option value="Kasserine" {%if equipe.lieu_origin=='Kasserine'%} selected="selected" {%endif%}>Kasserine</option>
                            <option value="Kébili" {%if equipe.lieu_origin=='Kébili'%} selected="selected" {%endif%}>Kébili</option>
                            <option value="Le Kef" {%if equipe.lieu_origin=='le Kef'%} selected="selected" {%endif%}>Le Kef</option>
                            <option value="Mahdia" {%if equipe.lieu_origin=='Mahdia'%} selected="selected" {%endif%}>Mahdia</option>
                            <option value="La Manouba" {%if equipe.lieu_origin=='la Manouba'%} selected="selected" {%endif%}>La Manouba</option>
                            <option value="Médenine" {%if equipe.lieu_origin=='Médenine'%} selected="selected" {%endif%}>Médenine</option>
                            <option value="Monastir" {%if equipe.lieu_origin=='Monastir'%} selected="selected" {%endif%}>Monastir</option>
                            <option value="Nabeul" {%if equipe.lieu_origin=='Ain Draham'%} selected="selected" {%endif%}>Nabeul</option>
                            <option value="Sfax" {%if equipe.lieu_origin=='Sfax'%} selected="selected" {%endif%}>Sfax</option>
                            <option value="Sidi Bouzid" {%if equipe.lieu_origin=='Sidi Bouzid'%} selected="selected" {%endif%}>Sidi Bouzid</option>
                            <option value="Siliana" {%if equipe.lieu_origin=='Siliana'%} selected="selected" {%endif%}>Siliana</option>
                            <option value="Sousse" {%if equipe.lieu_origin=='Sousse'%} selected="selected" {%endif%}>Sousse</option>
                            <option value="Tataouine" {%if equipe.lieu_origin=='Tataouine'%} selected="selected" {%endif%}>Tataouine</option>
                            <option value="Tozeur" {%if equipe.lieu_origin=='Tozeur'%} selected="selected" {%endif%}>Tozeur</option>
                            <option value="Tunis" {%if equipe.lieu_origin=='Tunis'%} selected="selected" {%endif%}>Tunis</option>
                            <option value="Zaghouan" {%if equipe.lieu_origin=='Zaghouan'%} selected="selected" {%endif%}>Zaghouan</option>
                        </select>
                    </div>
                </div>
                
               <div class="control-group">
                    <label class="control-label" for="siteweb">Site Web</label>
                    <div class="controls">
                        <input type="text" name="siteweb" class="span3" value="{{ set_value('siteweb', equipe.siteweb) }}"/>
                    </div>
                </div>
                    
               <div class="control-group">
                    <label class="control-label" for="stade">Stade</label>
                    <div class="controls">
                        <input type="text" name="stade" class="span3" value="{{ set_value('stade', equipe.stade) }}"/>
                    </div>
                </div>
                    
                 <div class="control-group">
                    <label class="control-label" for="Ligue">Ligue Nationale <span class="required">*</span></label>
                    <div class="controls">
                        <select name="ligue" class="span3" selected="{{ set_value('ligue', equipe.ligue) }}" required="required">
                            <option value="Football Pro ligue 1" {%if equipe.ligue=='Football Pro ligue 1'%} selected="selected" {%endif%}>Football Pro ligue 1</option>
                            <option value="Football Pro ligue 2" {%if equipe.ligue=='Football Pro ligue 2'%} selected="selected" {%endif%}>Football Pro ligue 2</option>
                            <option value="Football Amateur" {%if equipe.ligue=='Football Amateur'%} selected="selected" {%endif%}>Football Amateur</option>
                            <option value="Football Féminin" {%if equipe.ligue=='Football Féminin'%} selected="selected" {%endif%}>Football Féminin</option>
                            <option value="Futsal" {%if equipe.ligue=='Futsal'%} selected="selected" {%endif%}>Futsal</option>
                        </select>
                        <div class="erreur">
                            {{ form_error('ligue') }}         
                        </div>
                    </div>
                </div>
                    
               <div class="control-group">
                    <label class="control-label" for="userfile">Logo</label>
                    <div class="controls">
                        <input type="file" name="userfile" class="span3"/>
                        
                    </div>
                    <div class="erreur">
                          {{error}}
                        </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-info">Modifier</button>
                    </div>
                </div>
            </fieldset>
        </form>   
    </div>
{% endblock container%}