{% extends "layout.twig" %}

{% block title %} {{parent()}} - Voir Equipe{% endblock title %}

{% block container%}
    <div class="span11 well"> 
        <h4>Détails Equipe </h4>
        <hr>
        <div class="span4">
            <p> <img src="{{base_url()}}uploads/{{equipe.logo}}" alt="" class="img-polaroid span3" style="height: 220px;"></p>
        </div>
        <div class="span5">
            <p><strong>Nom : </strong>{{equipe.nom_equipe}}</p>
            <p><strong>Entreneur : </strong>{{equipe.entreneur}}</p>
            <p><strong>Date de Création : </strong>{{equipe.date_creation}}</p>
            <p><strong>lieu d'origin : </strong>{{equipe.lieu_origin}}</p>
            <p><strong>Site Web : </strong>{{equipe.siteweb}}</p>
            <p><strong>Stade : </strong>{{equipe.stade}}</p>
            <p><strong>Ligue Nationale : </strong>{{equipe.ligue}}</p>
        </div>
        
        <div class="span12">
        <h4>Liste des joueurs Pour cette equipe </h4>
        <hr>
        {% for joueur in joueurs %}
        <ul class="span3 unstyled">
            <li><p> <img src="{{base_url()}}uploads/{{joueur.photo}}" alt="" class="img-polaroid" style="height: 60px;"></p></li>
            <li><p><strong>Nom : </strong>{{joueur.nom}}</p></li>
            <li><p><strong>Poste : </strong>{{joueur.post}}</p></li> 
        </ul>
        {% endfor %}
        </div>
    </div>
{% endblock container%}





