{% extends "layout.twig" %}

{% block title %} {{parent()}} - Gestion des Matchs{% endblock title %}

{% block link_css %}
{{ parent() }}
<link href='{{ cal_css_url('theme') }}' rel='stylesheet' />
<link href='{{ cal_css_url('fullcalendar') }}' rel='stylesheet' />
<link href='{{ cal_css_url('fullcalendar.print') }}' rel='stylesheet' media='print' />
<link href='{{ cal_css_url('new') }}' rel='stylesheet' />
{% endblock link_css %}

{% block container%}
<section class="cal">
    <div class="span12 well"> 
        <h4>Gestion des Matchs </h4>
        
       <div class="btn-toolbar">
            <a href="/match/ajout" class="btn pull-right"><i class="icon-plus-sign"></i> <strong>Ajouter un Match</strong></a>
       </div>
        <hr />
        
        <div id='calendar'></div>
        </section>
        
{% endblock container%}
        
{% block script %}
<script src='{{ cal_js_url('jquery-ui-1.10.2.custom.min') }}'></script>
<script src='{{ cal_js_url('fullcalendar_fr') }}'></script>

<script>

	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			theme: true,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			events: [{{ val }}]
		});
		
	});

</script>
{% endblock script %}


