{% extends "layout.twig" %}

{% block title %} {{parent()}} - Gestion des Matchs{% endblock title %}

{% block link_css %}
{{ parent() }}
<link href='{{ cal_css_url('fullcalendar') }}' rel='stylesheet' />
<link href='{{ cal_css_url('fullcalendar.print') }}' rel='stylesheet' media='print' />
<link href='{{ cal_css_url('theme') }}' rel='stylesheet' />
<link href='{{ cal_css_url('new') }}' rel='stylesheet' />
{% endblock link_css %}
{% block navbar%}
    <div class="navbar">
        <div class="navbar-inner">
           <ul class="nav">
             <li><a href="/saison">Gestion Saison</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/equipe">Gestion Equipe</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/joueur">Gestion Joueurs</a></li>
             <li class="divider-vertical"></li>
             <li class="active"><a href="/match">Gestion Match</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/arbitre">Gestion Arbitre</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/stade">Gestion Stade</a></li>
             <li class="divider-vertical"></li>
             <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Championnat <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/classement/champligueun">Football Pro ligue 1</a>
                        <li><a href="/classement/champliguedeux">Football Pro ligue 2</a>
                        <li><a href="/classement/champligueamateur">Football Amateur</a>
                        <li><a href="/classement/champliguefeminin">Football Féminin</a>
                        <li><a href="/classement/champliguefutsal">Futsal</a>
                    </ul>
             </li>
             <li class="divider-vertical"></li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coupe <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/classement/coupeligueun">Football Pro ligue 1</a>
                    <li><a href="/classement/coupeliguedeux">Football Pro ligue 2</a>
                    <li><a href="/classement/coupeligueamateur">Football Amateur</a>
                    <li><a href="/classement/coupeliguefeminin">Football Féminin</a>
                    <li><a href="/classement/coupeliguefutsal">Futsal</a>
                </ul>
             </li>
           </ul>
        </div>
    </div>
{% endblock navbar%}
{% block container%}
    <section class="cal">
        <div class="well">
            <div class="row">
                <div class="span11">
                    <h3 class="text-center">Gestion des Matchs </h3>
                    <div class="btn-toolbar">
                        <a href="/match/ajout" class="btn pull-right"><i class="icon-plus-sign"></i> <strong>Ajouter un Match</strong></a>
                    </div>
                    <hr>
                </div>
                <div id='calendar'></div>
            </div>
         </div>
    </section>     
{% endblock container%}
        
{% block script %}
<script src='{{ cal_js_url('jquery-ui-1.10.2.custom.min') }}'></script>
<script src='{{ cal_js_url('fullcalendar_fr') }}'></script>
<script>

        $(document).ready(function() {
	
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			theme: true,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: false,
			events: [{{ val }}]
		});
		
        });

    </script>
{% endblock script %}


