{% extends "layout.twig" %}

{% block title %} {{parent()}} - Modifier un Match{% endblock title %}
{% block navbar%}
    <div class="navbar">
        <div class="navbar-inner">
           <ul class="nav">
             <li><a href="/saison">Gestion Saison</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/equipe">Gestion Equipe</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/joueur">Gestion Joueurs</a></li>
             <li class="divider-vertical"></li>
             <li class="active"><a href="/match">Gestion Match</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/arbitre">Gestion Arbitre</a></li>
             <li class="divider-vertical"></li>
             <li><a href="/stade">Gestion Stade</a></li>
             <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Championnat <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/classement/champligueun">Football Pro ligue 1</a>
                        <li><a href="/classement/champliguedeux">Football Pro ligue 2</a>
                        <li><a href="/classement/champligueamateur">Football Amateur</a>
                        <li><a href="/classement/champliguefeminin">Football Féminin</a>
                        <li><a href="/classement/champliguefutsal">Futsal</a>
                    </ul>
             </li>
             <li class="divider-vertical"></li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coupe <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/classement/coupeligueun">Football Pro ligue 1</a>
                    <li><a href="/classement/coupeliguedeux">Football Pro ligue 2</a>
                    <li><a href="/classement/coupeligueamateur">Football Amateur</a>
                    <li><a href="/classement/coupeliguefeminin">Football Féminin</a>
                    <li><a href="/classement/coupeliguefutsal">Futsal</a>
                </ul>
             </li>
           </ul>
        </div>
    </div>
{% endblock navbar%}
{% block container%}
    <div class="well"> 
        <div class="row">
            <div class="span11">
                <ul class="nav nav-pills">
                    <li><h3>Modifier un Match </h3></li>
                    <li class="pull-right"><a href="/match/voir/{{match.id}}" class="btn"><i class="icon-eye-open"></i> Voir match</a></li>
                    <li class="pull-right"><a href="/match/supprimer/{{match.id}}" class="btn deleteadmin"><i class="icon-trash"></i>Supprimer match</a></li>
                    {%if match.resultat_equipe_visit == -1%}
                    <li class="pull-right"><a href="/match/resultat/{{match.id}}" class="btn"><i class="icon-check"></i>Affecter Résultat</a></li>
                    {%endif%}
                </ul>
                <hr>
                <div class="span10 offset1">
                    <form action='/match/modifier/{{match.id}}' method="POST">
                        <div class="span3">
                            {#Block Type#}
                            <label for="type">Type <span class="required">*</span></label>
                            <select name="type" required="required" selected="{{ set_value('type', match.type) }}">
                                
                                <option value="Demi-finale" {%if match.type=='Demi-finale'%} selected="selected" {%endif%}>Demi-finale</option>
                                <option value="Finale" {%if match.type=='Finale'%} selected="selected" {%endif%}>Finale</option>
                                <option value="Amical" {%if match.type=='Amical'%} selected="selected" {%endif%}>Amical</option>
                                <option value="Derbi" {%if match.type=='Derbi'%} selected="selected" {%endif%}>Derbi</option>
               
                            </select>
                            <div class="erreur">
                                {{ form_error('type') }}         
                            </div>
                            
                            {#Block Saison#}
                            <label for="saison">Saison <span class="required">*</span></label>
                            <select name="saison" required="required" {%if match.resultat_equipe_visit != -1%}disabled {%endif%}>
                                {% for saison in saisons%}
                                    <option value="{{saison.id}}" {%if match.saison==saison.id%} selected="selected" {%endif%}>{{saison.saison}}</option>            
                                {% endfor %}
                            </select>
                            <div class="erreur">
                                {{ form_error('saisons') }}         
                            </div>

                            {#Block Catégorie#}
                            <label for="categorie">Catégorie <span class="required">*</span></label>
                            <select name="categorie" required="required" disabled>
                                 <option value="championnat" {%if match.categorie=='championnat'%} selected="selected" {%endif%}>championnat</option>
                                 <option value="coupe" {%if match.categorie=='coupe'%} selected="selected" {%endif%}>coupe</option>
                             </select>
                             <div class="erreur">
                                 {{ form_error('categorie') }}         
                             </div>
                            
                            {#Block Date et heure#}
                            <label class="control-label" for="date_match">Date et heure match <span class="required">*</span></label>
                            <input type="date" name="date_match" required="required" class="span2"  value="{{ set_value('date_match', match.date_match) }}">
                            <input type="time" name="heur_match" required="required" class="span1"  value="{{ set_value('heur_match', match.heur_match) }}">
                            <div class="erreur">
                                {{ form_error('date_match') }}         
                            </div>
                        </div>
                        <div class="span3">
                            
                            {#Block Stade#}
                            <label for="stade">Stade</label>
                            <select name="stade">
                            {% for stade in stades %}
<option {% if match.stade == stade.id %} selected="selected" {% endif %} value="{{stade.id}}">{{ stade.nom }}</option>
                            {% endfor %}
                            </select>
                            <div class="erreur">
                                {{ form_error('stade') }}         
                            </div>
                            
                            {#Block arbitre#}
                            <label class="control-label" for="arbitre">Arbitre 1<span class="required">*</span></label>
                            <select name="arbitre1" required="required">
                            {% for arbitre in arbitres %}
                                <option value="{{arbitre.id}}" {%if match.arbitre1==arbitre.id%} selected="selected" {%endif%}>{{arbitre.nom}}</option>            
                            {% endfor %}
                                </select>
                            <div class="erreur">
                                {{ form_error('arbitre1') }}         
                            </div>
                            
                            {#Block arbitre#}
                            <label class="control-label" for="arbitre">Arbitre 2<span class="required">*</span></label>
                            <select name="arbitre2" required="required">
                            {% for arbitre in arbitres %}
                                <option value="{{arbitre.id}}" {%if match.arbitre2==arbitre.id%} selected="selected" {%endif%}>{{arbitre.nom}}</option>            
                            {% endfor %}
                                </select>
                            <div class="erreur">
                                {{ form_error('arbitre2') }}         
                            </div>
                            
                            {#Block arbitre#}
                            <label class="control-label" for="arbitre">Arbitre 3<span class="required">*</span></label>
                            <select name="arbitre3" required="required">
                            {% for arbitre in arbitres %}
                                <option value="{{arbitre.id}}" {%if match.arbitre3==arbitre.id%} selected="selected" {%endif%}>{{arbitre.nom}}</option>            
                            {% endfor %}
                                </select>
                            <div class="erreur">
                                {{ form_error('arbitre3') }}         
                            </div>
                            
                        </div>
                        <div class="span3">
                            {#Block arbitre#}
                            <label class="control-label" for="arbitre">Arbitre 4<span class="required">*</span></label>
                            <select name="arbitre4" required="required">
                            {% for arbitre in arbitres %}
                                <option value="{{arbitre.id}}" {%if match.arbitre4==arbitre.id%} selected="selected" {%endif%}>{{arbitre.nom}}</option>            
                            {% endfor %}
                                </select>
                            <div class="erreur">
                                {{ form_error('arbitre4') }}         
                            </div>
                            
                            {#Block Equipe visiteur#}
                            <label class="control-label" for="equipe_visit">Equipe Visiteur <span class="required">*</span></label>
                            <select name="equipe_visit" required="required" {%if match.resultat_equipe_visit != -1%}disabled {%endif%}>
                                {% for equipe in equipes %}
                                    <option value="{{equipe.id}}" {%if match.equipe_visit==equipe.id%} selected {%endif%}>{{equipe.nom_equipe}}</option>            
                                {% endfor %}
                            </select>
                            <div class="erreur">
                                {{ form_error('equipe_visit') }}         
                            </div>

                            {#Block Equipe Receveur#}
                            <label class="control-label" for="equipe_recev">Equipe Receveur <span class="required">*</span></label>
                            <select name="equipe_recev" required="required" {%if match.resultat_equipe_recev != -1%}disabled {%endif%}>
                                {% for equipe in equipes %}
                                    <option value="{{equipe.id}}" {% if match.equipe_recev == equipe.id %} selected {% endif %} >{{equipe.nom_equipe}}</option>            
                                {% endfor %}
                            </select>
                            <div class="erreur">
                                {{ form_error('equipe_recev') }}         
                            </div>
                        </div>
                        <div class="span10">
                            <hr>
                            <button type="submit" class="btn btn-danger btn-block offset3 span2">Modifier</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
{% endblock container%}
