{% extends "layout.twig" %}

{% block title %} {{parent()}} - Détail Match{% endblock title %}

{% block container%}
    <div class="span11 well"> 
        <ul class="nav nav-pills">
            <li><h4>Détail Match </h4></li>
            <li class="pull-right"><a href="/match/modifier/{{match.id}}" class="btn">Modifier match</a></li>
            <li class="pull-right"><a href="/match/supprimer/{{match.id}}" class="btn deleteadmin">Supprimer match</a></li>
        </ul>
        <hr>
        <div class="span10"  style="border-bottom: 1px solid #cccccc">
        <p><strong>Type : </strong>{{match.type}}</p>
        <p><strong>saison : </strong>{{getsessionhelper()['saison']}}</p>
        <p><strong>categorie : </strong>{{match.categorie}}</p>
        <p><strong>Date et heure match : </strong>{{match.date_match}} | {{match.heur_match}}</p>
        <p><strong>Stade : </strong>{{match.stade}}</p>
        <p><strong>Arbitre : </strong>{{arbitre.nom}}</p>
        </div>
        <div class="span2 offset3" style="margin-top: 20px;border-right: 1px solid #cccccc">
            <strong>Equipe Receveur</strong><p>{{equipe_recev.nom_equipe}}</p>
            <p><img src="{{base_url()}}uploads/{{equipe_recev.logo}}" alt="" class="img-polaroid" style="height: 100px;"></p>
        </div>
        <div class="span2" style="margin-top: 20px;">
             <strong>Equipe Visiteur</strong><p>{{equipe_visit.nom_equipe}}</p>
            <p><img src="{{base_url()}}uploads/{{equipe_visit.logo}}" alt="" class="img-polaroid" style="height: 100px;"></p>
        </div>
        {% if match.resultat_equipe_visit != -1 %}
        <div class="span10">
            <h4>Résultat du Match</h4>
            <hr>
            <p>Nombre de but</p>
        </div>
        <div class="span10">
            <div class="span2 offset3" style="margin-top: 20px;border-right: 1px solid #cccccc">
                <p class="text-center">{{match.resultat_equipe_recev}}</p>
                {% for resultat in resultats %}
                    {% if resultat.equipe==match.equipe_recev%}
                        <p>{{resultat.nom}}</p>
                        <p>{{resultat.date_but}}</p>
                    {%endif%}
                {%endfor%}
            </div>
            <div class="span2" style="margin-top: 20px;">
                <p class="text-center">{{match.resultat_equipe_visit}}</p>
                {% for resultat in resultats %}
                    {% if resultat.equipe==match.equipe_visit%}
                        <p>{{resultat.nom}}</p>
                        <p>{{resultat.date_but}}</p>
                    {%endif%}
                {%endfor%}
            </div>
        </div>
        {%endif%}
        
        
    </div>
{% endblock container%}

